# ---------------- CORE ----------------
python-dotenv>=1.0.0
pydantic>=2.5.0
typing-extensions>=4.8.0

# ---------------- API ----------------
fastapi>=0.110.0
uvicorn>=0.25.0

# ---------------- PDF PROCESSING ----------------
pdfplumber>=0.10.3
PyMuPDF>=1.23.7

# ---------------- OCR ----------------
pytesseract>=0.3.10
opencv-python>=4.8.1.78
numpy>=1.24.0

# ---------------- TABLE EXTRACTION ----------------
camelot-py[cv]>=0.11.0
ghostscript>=0.7

# ---------------- NLP / ML ----------------
torch>=2.0.0
transformers>=4.36.0
sentencepiece>=0.1.99

# ---------------- EMBEDDINGS & VECTOR STORE ----------------
pinecone-client>=3.0.0

# ---------------- UTILITIES ----------------
requests>=2.31.0
tqdm>=4.66.0

# ---------------- GOOGLE GEMINI ----------------
google-generativeai>=0.3.2

#---------------- LANGUAGE DETECTION ----------------  
langdetect==1.0.9

